[submodule "meta-sdr"]
    path = "components/layers/meta-sdr"
    url = https://github.com/balister/meta-sdr.git
    branch = walnascar
[submodule "components/layers/meta-sdr"]
	path = components/layers/meta-sdr
	url = https://github.com/balister/meta-sdr.git
	branch = walnascar
